docker>=3.7.0,<3.8.0
exam>=0.5.1
freezegun==0.3.11
honcho>=1.0.0,<1.1.0
pytest==4.6.5
pytest-cov==2.5.1
pytest-django==3.5.1
pytest-html==1.22.0
pytest-sentry==0.1.1
pytest-rerunfailures==8.0
responses>=0.8.1,<0.9.0
sentry-flake8==0.3.1
werkzeug==0.15.5
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
